<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Servlets.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Servlets.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMS</servlet-name>
        <servlet-class>Servlets.CMSPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoorraadBeheer</servlet-name>
        <servlet-class>Servlets.VoorraadBeheer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMS</servlet-name>
        <url-pattern>/cms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoorraadBeheer</servlet-name>
        <url-pattern>/cms/voorraad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
