/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2015, 4:55:13 PM
    Author     : william
*/

html{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

ul.menu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.menu li{
    margin: 0px;
    padding: 0px;
    float: left;
}

ul.hmenu{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.hmenu li{
    margin: 0px;
    padding: 0px;
}

.mainWrap{
    padding-bottom: 240px;
}

.nonselect{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table.dataTable{
    width: 100%;
    border-collapse: collapse;
}

table.dataTable th{
    background: darkblue;
    
    color: white;
    padding: 10px 0px;
}

table.dataTable tr{
    background: rgba(38, 82, 172, 0.39);
    
}

table.dataTable tr:nth-child(odd){
    background: rgba(38, 82, 172, 0.11);
}

table.dataTable td{
    padding: 5px 8px;
}

